<header>
    <div class="container">
        <a href="#" routerLink="/" class ="logo"><img src="assets\licious-logo.svg"/></a>
        
        <a href="" ><img src="assets\Other-label.svg"/>
                    Location</a>
        <app-search/>
        <a href="" ><img src="assets\categories-grey.svg"/>
                    Catergories</a>   
        <a routerLink="/login-page"><img src="assets\profile-grey.svg"/>
                    Login</a>
        <a href="/cart-page" ><img src="assets\cart.svg"/>Cart</a>
        
    </div>
</header>

