<div class="category">
    <b>Shop by categories</b>
    Freshest meats and much more!

<ul>
    
    <li>
        <img src="\assets\wow.png">
        <div class="content">Wow Weekend</div>
    </li>
    <li>
        <img src="\assets\chicken.png">
        <div class="content">Chicken</div>
    </li>
    <li>
        <img src="\assets\mutton.png">
        <div class="content">Mutton</div>
    </li>
    <li>
        <img src="\assets\fish.png">
        <div class="content">Fish</div>
    </li>
</ul>
</div>